html {
    margin: 0;
    height: 100vh;
}

.logo {
    object-fit: cover;
    height: 52px;
    width: 220px;
    margin: auto 0;
}

.nav {
    background-color: #5495c6;
    height: 66px;
}

.nav a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: right


}

.navbar-secondary {
    background-color: #42769e;
    height: 40px;

}

.navbar-secondary a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    height: 100%;
}


.nav-button {
    border-radius: 50px;
    padding: 5px 10px;
    border: none;
    background-color: #5495c6;
    cursor: pointer;
}

.nav-button:hover {
    transition: .5s;
    background-color: #90b6d3;
}

.nav-home {
    border-radius: 50px;
    padding: 5px 10px;
    border: none;
    background-color: #93cffe;
    cursor: pointer;
    margin-right: 20px;
}

body {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    font-weight: blighterld;
}

h1 {
    text-align: left
}

.img-one {

    border-radius: 20PX;
    margin-right: 20px;
    border: 5px solid rgb(129, 140, 223);
    /* Cor da borda (vermelho neste exemplo) */
    padding: 5px;
    /* Espaço entre a borda e a imagem */

}

p {
    display: flex;
    align-items: center;
    margin-top: 110px
}


footer {

    background-color: #42769e;
    height: 10%;
    padding: 6px;
    position: fixed;
    bottom: 0;
    width: 100%


}

.text-footer1  {
    text-align: center;
    color: white;

}

.text-catolica {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 18px;

}

